<!-- [ Activity Title ] -->
<!-- ... -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Programming</title>
    <!-- Links & Scripts -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./styles/style.css" />
    <script defer src="./scripts/script.js"></script>
  </head>
  <body>
    <!-- Navegation menu -->
    <nav id="nav_menu">
      <h1>Web Programming Activity - [...]</h1>
      <button id="theme_btn"></button>
    </nav>
    <!-- Main component -->
    <main>
      <form action="get">
        <!-- Forms title -->
        <label for="number_input" id="forms_title">| [...] 🤓</label>
        <!-- <div/> for organize components -->
        <div class="content">
          <!-- Input text that receives data -->
          <input
            required
            type="text"
            name="number_input"
            id="number_input"
            class="text_input"
            placeholder="..."
          />
          <!-- Button for execute the code -->
          <button
            id="main_btn"
            class="text_input"
            type="button"
            readonly
            onclick="guess()"
            onfocus="loseFocus()"
          >
            [...]
          </button>
          <!-- Input text that only show data -->
          <input
            readonly
            onfocus="loseFocus()"
            type="text"
            name="result"
            id="result"
            class="text_input rainbow"
            placeholder="..."
          />
        </div>
      </form>
    </main>
    <!-- Footer of credits -->
    <footer id="credits_footer">
      <a
        id="credits_link"
        target="_blank"
        href="https://github.com/GustavoAlmeida-cy"
        >&copy Gustavo Almeida - GitHub.</a
      >
    </footer>
  </body>
</html>
